$blue: #80C3D2;
$red: #FF8454;
$green: #88C87B;
$yellow: #F0CD3A;
$bg-color: #FF8454;
$link-color: #80C3D2;
$wt:#fff;
$bk:#000;
$dark-color:#474747;
$accent-color: #D266F9;
$focus-color: $accent-color;
$fz: rem(16);
$h1-fz: 26;
$h2-fz: 26;
$h3-fz: 24;
$h4-fz: 22;
$h5-fz: 20;
$h6-fz: 18;
$btn-color: #FF8454;
$placeholder-color: #737373;
$fz-placeholder: 14px;
$bgcolor-form: #0083BA;
$browser-context: 18; // Default
$dir:'../fonts/';


$R:  'Roboto-Regular';
$Rb: 'Roboto-Bold';
$Rbi:'Roboto-BoldItalic';
$Rm: 'Roboto-Medium';
$Rmi:'Roboto-MediumItalic';
$Ri: 'Roboto-Italic';
$Rl: 'Roboto-Light';
$Rli:'Roboto-LightItalic';
$Ob:'Oswald-Bold';
$Osb:'Oswald-SemiBold';
$Om:'Oswald-Medium';
$O:'Oswald-Regular';
$Ol:'Oswald-Light';

$RN: 'Roboto';
$ON:'Oswald';
$font-text: $RN;
$headh1: $ON;
$headh2: $ON;
$headh3: $ON;
$headh4: $ON;
$headh5: $ON;
$headh6: $ON;

$normal: normal;
$italic: italic;
$bold: 700;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:80px;
$mb:50px;